
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;
          font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}

/*LocalStyle*/
body{
    background-color: #eea236;
}

#main_container{
    width: 964px;
    margin: 0 auto;
    background: #d4e7ed;
    border: 0.1em solid #31b0d5;
}
.container{
    width:960px !important;
}
.header{
     background: url('../images/header2.jpg');
     height:118px;
     margin: 0em auto;
     width:100%;
    
}

.search{
    float:right !important;
    width: 13em !important;
    height: 1.7em !important;
    margin-top: 0.5em;
}
.inputt{
    height:1.7em !important;
}
button{
    height:1.7em;
    width: 2em;
}
.search img{
    height: 2em !important;
    margin:-10px -50px;
}
.left-img{
    max-width: 9em;
}

.right-img{
    margin-top: 2em;
}
.right-one{
    float:right !important;
    width:32em !important;
    display: inline !important;
    margin-top:4em;
    margin-right: -3em;
     height: 2em;
        
}
.right-one img{
    float:right;
}

.im_admin,.im_log,.im_set{
    display: inline;
  
    float: left;
}

.im_admin a ,.im_log a ,.im_set a{
    margin-top: 0.2em;
     color:#fff;
    float: left;
}
a :hover{
    color: #eee !important;
    text-decoration: none !important;
}
#menu{
        border-top:  0.1em solid #31b0d5;
         height: 9em;
         background:#AFD7EE;
         margin:0em auto ;
         width:960px;
     }
#menu a{
         color:#efefef;
     }
#top_buttons{
    margin: -1em 5em 0 5em !important;
    height:2em;
    
}
#down_buttons{
    margin: 1.5em 14.3em;
    height:2em;
    
}
.btn-style{
     height:3em;
    margin:0.3em 0.5em;
    width:8em;
    background: url('../images/button.jpg')!important;
    border-radius: 0.5em;
}
 .current{
     background:url('../images/button.jpg')!important;
     border: 1px solid buttonhighlight;
}
#mainContent{
   width: 960px;
   height:auto;
    background: #fff;
    margin:0 auto;
    border-bottom: 0.1em solid #31b0d5;
    border-top: 0.1em solid #31b0d5;
}

.row-head{
    height:3em !important;
    margin: 0 !important;
}

.product_head{
    background-color:#89CCDF;
    height: 3em;
    width:67.66em;
    margin:0.5em -0.5555em 0 !important;
   float:left;
    
}

.product_head h3{
    color: #fff;
    margin: 0.4em  0 0.5em 1em;
}
.product_head h3:hover{
    cursor:pointer;
}

.show{
      background:linear-gradient(180deg,#fff,#31b0d5) !important;
      width: 67.7em;
      height: 2em;
      margin:0.5em -0.5555em 0 !important;
      float: left;
}
.show ul{
    height: 4em;
}
.show ul li {
    display: inline;
    margin-left: 2em;
    position: relative;
   padding:0.5em 0.8em; 
    
}
.show ul li:hover,.show ul li .current{
    background:url('../images/button.jpg');
    height:4em;
    width:4em;
    border-radius: 0.3em;
}
    /*form*/
    
 .form_box{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 0 auto;
    max-width: 1260px;
    min-width: 780px;
    padding: 35px 0px 30px 0px;
  }
  .form_box h2{
      color:#31b0d5;
      margin:3em 5em 1em 6em;
      
  }
  .form_box label{
      color:#39b3d7;
      font-size: 14px;
  }
  .form-button{
      background: #89CCDF !important;
  }

.form_input{
    width:20em !important;
}
.form_select{
    width:10em !important;
}
.form_date{
    width:6.4em !important;
}
table{
    width:10em!important;
   margin-left:-0.1em !important;
}
table td{
    border:none !important;
}
textarea{
    height:8em !important;
}
.form-button{
    width: 6em !important;
    display: inline;
    float: left;
    margin:0.5em 0 0.5em 3em;
}
   /*dashboard*/
 
 

#infobox {
width: 400px;
float: left;
margin: 2em;
border:1px solid #e8e7e1;
}

#infobox h2 {
background: #f7f6f0;
border-bottom: 1px solid #e8e7e1;
color: #a43708;
padding: 10px;
font-size: 19px;
margin-top: 0;
}
table{
	margin:5px;
	border: collapse;
	table-layout:automatic;
	width:98%;
}

td, th {
    border: 1px solid #e8e7e1;
    padding: 2px;
    
}
th{
    background-color: #f7f6f0;
}

.form-submit{
    background: url('../images/form_submit.gif');
    width: 80px;
    height: 30px;
    border-radius: 0.5em;
}
.form-reset{
    background: url('../images/form_reset.gif');
    width: 80px;
    height: 30px;
    border-radius: 0.5em;
}
 /*footer*/   
.footer{
    background: url('../images/header.jpg');
     height:8em;
     margin: 0em auto;
     width:100%;
}
.footer h2{
   text-align: center;
   margin-top:1em !important;
   text-underline-position: below; 
}